[submodule "deps/stb"]
	path = deps/stb
	url = https://github.com/nothings/stb.git
[submodule "deps/OpenSimplexNoise"]
	path = deps/OpenSimplexNoise
	url = https://github.com/deerel/OpenSimplexNoise.git
